.info h3 {
  text-align: left;
}

.imagenCarro {
  height: 60%;
}

.infoMsg {
  text-align: center;
}

.productRow {
  padding-left: 5vw;
  width: 70vw;
}

.precio {
  padding-right: 5vw !important;
}

.totalPrecio {
  padding-top: 10vh;
}
