form {
    margin: 30vh auto;
    display: flex;
    justify-content: center;
    align-self: center;
}

label {
    margin-right: .4rem;
}

.form-row {
    margin-bottom: .5rem;
}

.singupBtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form p {
    font-weight: bolder;
    padding: .3rem;
    background: rgba(255, 0, 0, .3);
}