form {
    display: flex;
    justify-content: center;
    align-self: center;
}

label {
    margin-right: .4rem;
}

.form-row {
    margin-bottom: .5rem;
}

.links {
    display: flex;
    justify-content: space-between;
}