form {
    margin: 30vh auto;
    display: flex;
    justify-content: center;
    align-self: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.links {
    display: flex;
    justify-content: space-between;
}