form {
  margin: 3vh auto;
  display: flex;
  justify-content: center;
  align-self: center;
}

.form-group {
  padding: 3rem;
  border: 1px solid black;
  border-radius: 3px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

label {
  padding-top: 1vh;
  width: 10vw;
}
