form {
  margin: 15vh auto;
  display: flex;
  justify-content: center;
  align-self: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

label {
  padding-top: 1vh;
  width: 10vw;
}
